body, td {
	font-size: 12px;
	font-family: Arial;
	line-height: 1.5;
}

td {
    vertical-align: top;
}

div.sectionHeader {
	margin-top: 10px;
	padding-left: 10px;
}

.templates {
	display: none;
}


.optiondel, .attributedel, .bundledel {
	float: right;
}

.bundle_template, .option_template, .attribute_template {
	display: none;
}

.attribute_group {
    border: 1px solid #b2baba;
    padding-bottom: 15px;
}

.attribute_group .header {
    font-size: 12px;
    line-height: 28px;
    color: #6d6d6d;
    padding: 0 9px;
    background: #EFEFEF url(images/fade.gif) repeat-x top;
    border-bottom: 1px solid #b2baba;
}

.attribute_group .opener {
    width: 13px;
    height: 13px;
    background: url(images/icons.gif) no-repeat;
    float: left;
    margin: 7px 10px 0 0;
    cursor: pointer;
}

.attribute_group.opened .opener {
    background: url(images/icons.gif) no-repeat -13px 0;
}

.attribute_outer {
    display: none;
}

.attribute_group_outer {
    margin: 15px;
}

.dragHandle {
    width: 16px;
    background: url("images/draghandle.gif") no-repeat 3 4px;
}

.sorttable td {
    margin: 0;
    padding: 0;
}

.sorttable .dragHandle:hover {
    cursor: move;
}

.attribute {
    margin: 3px 0;
}

#attributes input {
    padding: 3px 5px;
}

#attributes select {
    padding: 3px 3px 3px 5px;
}

#attributes input.attribute_title {
    width: 200px;
}

#attributes input.attribute_measure {
    width: 60px;
}

#attributes input.attribute_value {
    width: 150px;
}

.button_add {
    padding: 0 0 0 18px;
    border: 0;
    background: url(images/add.png) no-repeat;
    margin: 0 0 0 15px;
    color: #575555;
    font-size: 10px;
    font-family: Arial;
    width: auto;
    height: 15px;
    opacity: 0.8;
}

.button_add:hover {
    opacity: 1;
}

#bundles, #options {
	visibility: hidden;
}

select {
	padding: 1px 2px;
}

.values {
	overflow: hidden;
}

.th {
	overflow: hidden;
}

.th div {
	font-weight: bold;
}

.values .id {
	font-size: 10px;
	color: #666;
}

.col1 {
	width: 250px;
	float: left;
}

.col2 {
	width: 110px;
	float: left;
}

.col3 {
	/*width: 220px;*/
	float: left;
	margin-right: 5px;
}

.values .del {
	width: 100px;
	float: left;
	padding-top: 5px;
}

.values .option_value_del, .values .filter_value_del {
	opacity: 0.3;
}

.values .option_value_del:hover, .values .filter_value_del:hover {
	opacity: 1;
}

.option_value_add {
    margin: 5px 0 0 0;
}

.fastlist .content {
    display: none;
}

.fastlist .content.visible {
    display: table-row;
}

.fastlist .content td {
    padding: 9px;
}

.fastlist .actions {
    padding: 0 9px;
}

.values .rng, .values .eqv {
	display: none;
}

.values .visible {
	display: block;
}

#options .option_del, #attributes .attribute_del, #bundles .bundle_del {
	opacity: 0.3;
}

#options .option_del:hover, #attributes .attribute_del:hover, #bundles .bundle_del:hover {
	opacity: 1;
}

#new_option_name, #new_bundle_name {
    width: 200px !important;
    padding: 3px 5px;
    margin-left: 16px;
}

.option_bundle_personal {
    margin-left: 16px;
}

.fastlist .dragHandle div {
    /*padding: 0;*/
	line-height: 28px;
	font-size: 12px;
	color: #6d6d6d;
}

.fastlist, .fastlist .inner {
    margin: 0 0 8px 0;
    padding: 0;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

.fastlist .inner tr {
    padding: 0 9px;
	background: #EFEFEF url(images/fade.gif) repeat-x top;
	border: 1px solid #b2baba;
	line-height: 28px;
	font-size: 12px;
	color: #6d6d6d;
}

.fastlist .inner td.header {
    padding: 5px 9px;
}

.fastlist .inner td.header h3 {
    margin: 0;
    font-size: 14px;
    color: #1A32C7;
    border-bottom: 1px dashed #1A32C7;
    line-height: 14px;
    cursor: pointer;
    display: inline;
}

.fastlist .inner td.header h3:hover {
    color: #0f1e76;
    border-bottom: 1px dashed #0f1e76;
}

.extend {
	display: none;
	clear: left;
	padding: 5px;
	border-left: 2px solid #c0c0c0;
	margin: 5px 15px;
}

.extend .title {
	margin: 0;
}

.extend.visible {
	display: block;
}

.tipid {
	font-size: 10px;
	color: #666;
}

.tipclear {
	width: 36px;
	height: 27px;
	margin-left: 170px;
	text-decoration: none;
	border-bottom: 1px dashed #c0c0c0;
}

#sortable {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 60%;
}
#sortable li {
	margin: 0 5px 5px 5px;
	padding: 5px;
	font-size: 12px;
	height: 20px;
	list-style: none;
	cursor: move;
	line-height: 20px;
}

.ui-state-highlight {
	height: 20px;
	line-height: 20px;
}

.filter .ui-accordion-header, .filter .ui-accordion-content {
	margin-left: 20px;
}

.filter .on {
	float: left;
	margin-top: 9px;
}

.order {
	margin-bottom: 10px;
	border-collapse: collapse;
	width: 100%;
}

.order .header {
	padding: 0 9px;
	background: #EFEFEF url(images/fade.gif) repeat-x top;
	border-left: 1px solid #b2baba;
	border-top: 2px solid #b2baba;
	border-right: 6px solid #b2baba;
	border-bottom: 1px solid #b2baba;
	line-height: 28px;
	font-size: 12px;
	color: #6d6d6d;
}

.order .header span {
	color: #302f2f;
}

.order .date_next {
    font-weight: bold;
}

.order .header .status {
	float: right;
}

.order .header .opener {
	width: 13px;
	height: 13px;
	background: url(images/icons.gif) no-repeat;
	float: left;
	margin: 7px 10px 0 0;
	cursor: pointer;
}

.order.opened .opener {
	background: url(images/icons.gif) no-repeat -13px 0;
}

.order .outer {
	display: none;
}

.order.opened .outer {
	display: table-row;
}

.order .outer .col {
	border: 1px solid #b2baba;
	width: 50%;
	vertical-align: top;
	padding: 0;
}

.order .outer h2 {
	text-transform: uppercase;
	color: #939393;
	font-size: 10px;
	line-height: 23px;
	padding-left: 30px;
	margin: 0;
	background: #EFEFEF url(images/fade2.gif) repeat-x;
	border: 1px solid #ddd;
	border-left: 0;
	border-right: 0;
}

.order .outer h3 {
	color: #6d6d6d;
	font-size: 12px;
	margin: 5px 0 0 0;
}

.order .outer .content {
	padding: 15px 30px;
}

.order .contacts {
	border-bottom: 1px dashed #c1bebe;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.order .contacts p {
	margin: 0;
	color: #6d6d6d;
	font-size: 12px;
}

.order .contacts span {
	color: #302f2f;
}

.order .comments {
	color: #302f2f;
	font-size: 12px;
}

.order.status10 .header {
	border-top: 2px solid #2a8010;
	border-right: 6px solid #2a8010;
}

.order.status10 .header {
	border-top: 2px solid #2a8010;
	border-right: 6px solid #2a8010;
}

.order.status20 .header {
	border-top: 2px solid #ff9c00;
	border-right: 6px solid #ff9c00;
}

.order.status-30 .header {
	border-top: 2px solid #ec2327;
	border-right: 6px solid #ec2327;
}

.order.status30 .header {
	border-top: 2px solid #5a5a5a;
	border-right: 6px solid #5a5a5a;
}

#add_comment {
	width: 100%;
}

input[type="button"], input[type="submit"] {
	margin: 5px 0;
	padding: 0 10px;
	background: #d9dfe1 url(images/buttonbg.gif) repeat-x;
	font-size: 10px;
	font-weight: bold;
	line-height: 18px;
	color: #2b2b2b;
	border: 1px solid #9b9b9b;
	cursor: pointer;
	opacity: 0.75;
}

input[type="button"]:hover, input[type="submit"]:hover {
	background: #d9dfe1 url(images/buttonbg.gif) repeat-x 0 -18px;
	opacity: 1;
}

.right {
	float: right;
}

.order .prod {
	border-bottom: 1px dashed #c1bebe;
	margin-bottom: 5px;
	padding-bottom: 5px;
	overflow: hidden;
}

.order .prod .title {
	color: #302f2f;
	font-size: 12px;
	font-weight: bold;
}

.order .prod .price {
	float: right;
	color: #302f2f;
}

.order .prod .summ {
	font-weight: bold;
}

.order .prod .optlist {
	font-size: 10px;
	color: #302f2f;
}

.order .total {
	font-weight: bold;
}

.order .datepick-month-header {
    height: 1.9em;
}

.order .datepick-month-header select {
    height: 1.8em;
    font-size: 10px;
}

.order .sb_date_next_calend .calendar {
    border: 0;
    background: transparent;
}

.error {
    color: #990000;
    font-weight: bold;
    padding: 5px 10px;
    margin: 0 10px 10px 10px;
    border: 1px solid #990000;
    background-color: #FFEEEE;
}

.ok {
    color: #009900;
    font-weight: bold;
    padding: 5px 10px;
    margin: 0 10px 10px 10px;
    border: 1px solid #009900;
    background-color: #eeffee;
}

.hidden {
	display: none;
}